<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Edit Title :</label>
        <input
          type="text"
          class="form-control"
          name="campground[title]"
          id="title"
          value="<%= campground.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div id="validationServer05Feedback" class="invalid-feedback">
          Please provide a title.
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Edit Location :</label>
        <input
          type="text"
          name="campground[location]"
          id="location"
          value="<%= campground.location %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div id="validationServer05Feedback" class="invalid-feedback">
          Please provide a location.
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Edit Price :</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input
            type="number"
            name="campground[price]"
            id="price"
            value="<%= campground.price %>"
            class="form-control"
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div id="validationServer05Feedback" class="invalid-feedback">
          Please provide a price.
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Edit Description :</label>
        <textarea
          name="campground[description]"
          id="description"
          class="form-control"
          cols="30"
          rows="2"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div id="validationServer05Feedback" class="invalid-feedback">
          Please provide a description.
        </div>
      </div>
      <div class="mb-3 custom-file">
        <label for="image" class="form-label custom-file-label"
          >Choose Images :</label
        >
        <input
          class="form-control custom-file-input"
          type="file"
          id="image"
          name="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img,i){%>
        <img
          src="<%= img.thumbnail %>"
          class="img-thumbnail"
          alt=""
          srcset=""
        />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            value="<%=img.filename%>"
            id="image-<%= i %>"
          />
        </div>
        <label for="image-<%= i %>">Delete?</label>
        <%})%>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
  <a class="text-center" href="/campgrounds/<%= campground._id %>">Cancle</a>
</div>
